<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seshra.everestcab">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".service.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_sequirity_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.CheckStopLocationService"
            android:exported="false"></service>

        <activity android:name=".AddStopActivity" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:parentActivityName=".profile.ProfileActivity" /> <!-- <service -->
        <!-- android:name=".service.FetchRecieptService" -->
        <!-- android:exported="false"></service> -->
        <service
            android:name=".service.FetchTermsAndConditionService"
            android:exported="false" />
        <service
            android:name=".service.FetchPopularLocations"
            android:exported="false" />
        <service
            android:name=".service.GetOTPService"
            android:exported="false" />
        <service
            android:name=".service.ApplyPromoCodeServcie"
            android:exported="false" />
        <service
            android:name=".service.RateDriverService"
            android:exported="false" />
        <service
            android:name=".service.CancelRideService"
            android:exported="false" />
        <service
            android:name=".service.FetchCancelReasons"
            android:exported="false" />
        <service
            android:name=".service.AutoCancelService"
            android:exported="false" />
        <service
            android:name=".service.CheckServiceAvailabilityService"
            android:exported="false" />
        <service
            android:name=".service.CheckActiveRideService"
            android:exported="false" />
        <service
            android:name=".service.FetchCampaignNotification"
            android:exported="false" />

        <activity android:name=".ReceiptActivity" />

        <service
            android:name=".service.TrackRideService"
            android:exported="false" />
        <service
            android:name=".service.FetchFavouriteLocationService"
            android:exported="false" />
        <service
            android:name=".service.AddFavouriteLocation"
            android:exported="false" />

        <activity
            android:name=".TermsAndConditionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".service.EditProfileService"
            android:exported="false" />

        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".service.FetchGeneralNotificationsService"
            android:exported="false" />
        <service
            android:name=".service.LogOutService"
            android:exported="false" />

        <service
            android:name=".service.ForgotPasswordService"
            android:exported="false" />
        <service
            android:name=".service.FetchSpecificTripDetailService"
            android:exported="false" />

        <activity android:name=".rides.TripDetailActivity" />

        <service
            android:name=".service.FetchPastRideService"
            android:exported="false" />
        <service
            android:name=".service.RegisterUserService"
            android:exported="false" />
        <service
            android:name=".service.FetchConfigurationService"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatePasswordActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".PersonalInfoActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".OTPActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <service
            android:name=".service.FetchActiveRideService"
            android:exported="false" />
        <service
            android:name=".service.CallRideInfoService"
            android:exported="false" />
        <service
            android:name=".service.CheckStatusService"
            android:exported="false" />
        <service
            android:name=".service.ConfirmRideService"
            android:exported="false" />
        <service
            android:name=".service.GetCurrentLocationName"
            android:exported="false" />
        <service
            android:name=".service.CheckOutService"
            android:exported="false" />
        <service
            android:name=".service.GooglePlacePickerService"
            android:exported="false" />
        <service
            android:name=".service.LoginService"
            android:exported="false" />

        <activity
            android:name=".EnterPasswordActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <service
            android:name=".service.CheckUserPhoneService"
            android:exported="false" />

        <activity
            android:name=".CheckUserPhoneActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".HelpForBloodActivity" />
        <activity android:name=".DriverWaitingActivity" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".rides.YourRideActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SaveLocationActivity" />
        <activity android:name=".locations.SearchLocationActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".onboarding.OnboardingActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <service
            android:name=".service.OneSignalServiceClass"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>
    </application>

</manifest>